/*.Login{
  background-color:bisque;
}*/
/*.mb-3
{
  background-color: aqua;
}*/



.Login
{
  
  margin-left:35% ;
  margin-top: 10%;
  
  
}
  
.int{
  margin-left:5px;
}
.int2
{
  margin-left:38px;
  size:20;
}
.select
{
  margin-left:110px ;
  height:30px;
  width: 30%;
}